html, body {
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
    font-style: italic;
    text-align: center;
    color: #000;
    background-color: #fff;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    color: #000;
}

a {
    text-decoration: none;
    color: #000;
}

/*======== #wrapper ========*/
#wrapper {
    width: 560px;
    position: relative;
    left: 50%;
    margin-left: -280px;
}

    /*==== #wrapper#header ====*/
    #header {}

        #header h1 {
            padding: 28px 0 12px 0;
            margin: 0 96px;
            font-style: normal;
            border-bottom: 1px solid #ddd;
        }

        #header h1:hover {
            color: #853638;
        }

        #header p {
            color: #aaa;
        }

        /*== #wrapper#header#nav_menu ==*/
        #nav_menu {
            margin-top: 12px;
            padding: 8px 0 8px 0;
            text-align: left;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            background: #eee;
        }

            /*= #wrapper#header#nav_menu ul =*/
            #header ul {
                padding: 0 18px;
                display: inline;
                list-style: none;
                font-family: Helvetica, Arial, sans-serif;
            }

                #header ul li {
                    margin-left: 8px;
                    display: inline;
                }

                    #header ul li a {
                        color: #888;
                    }
                    
                    #header ul li a:hover {
                        color: #000;
                    }

            #feed_box {
                position: absolute;
                right: 20px;
                color: #ff9900;
            }

            #feed_box:hover {
                color: #ff0000;
            }

    /*==== #wrapper#content ====*/
    #content {
        padding: 12px 32px 0 32px;
        text-align: left;
        font-size: 14px;
        font-weight: lighter;
        color: #444;
    }

        /*== #wrapper#content.post ==*/
        .post {
            padding: 16px 0;
            border-bottom: 1px solid #eee;
        }
            .post_title a {
                padding-bottom: 8px;
                font-style: normal;
            }

            .post_title a:hover {
                color: #aaa;
            }

            .post_date {
                font-size: 12px;
                color: #888;
            }

            /*= #wrapper#content.post.post_body =*/
            .post_body {
                font-family: Helvetica, Arial, sans-serif;
                font-style: normal;
            }

                .post_body a {
                    border-bottom: 1px dashed #000;
                }

                .post_body a:hover {
                    color: #5cadff;
                    border-bottom: 1px solid #ccc;
                }

                .post_body ul, .post_body ol {
                    color: #888;
                }

                .post_body ul {
                    list-style-type: circle;
                }

                .post_body blockquote {
                    margin: 12px;
                    padding: 8px;
                    font-family: Georgia, Times, serif;
                    font-style: italic;
                    color: #888;
                    border: 1px solid #ddd;
                    outline: 2px solid #eee;
                    background: #fafafa;
                }

                .post_body blockquote * {
                    margin: 8px;
                }

                .post_body img {
                    margin: 8px;
                    border: 1px solid #4e89ef;
                    outline: 6px solid #e0f2ff
                }

                .post_body img:hover {
                    border: 1px solid #ffb070;
                    outline: 6px solid #fdeede;
                }

                .post_body strong, .post_body b {
                    color: #000;
                }
                

            /*= #wrapper#content.post.postmeta =*/
            .post_meta {
                margin-top: 8px;
                padding: 6px 8px;
                border-top: 1px solid #eee;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                border-left: 1px solid #eee;
                background: #f5f5eb;
            }

                .post_meta span {
                    color: #888;
                }

                .post_meta a:hover {
                    color: #888;
                }

                .comments {
                    position: absolute;
                    right: 40px;
                }

            #disqus_thread {
                margin-top: 16px;
            }

        /*== #wrapper#content#recent_posts ==*/
        #recent_posts {
            padding: 6px 0 8px 0;
            margin: 0;
            list-style: none;
            font-style: normal;
            border-bottom: 4px solid #ddd;
            background-color: #fafafa;
        }

            #recent_posts li {}

                #recent_posts li a {
                    display: block;
                    padding: 6px 8px;
                    font-size: 16px;
                    color: #666;
                }

                #recent_posts a:hover {
                    padding: 5px 8px;
                    border-top: 1px dashed #ddd;
                    border-bottom: 1px dashed #ddd;
                    background-color: #fefee1;
                }

                    #recent_posts li span {
                        position: absolute;
                        right: 40px;
                        color: #888;
                        font-size: 12px;
                        font-style: italic;
                    }

        /*== #wrapper#content#more ==*/
        #more {
            padding: auto;
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: center;
            font-size: 16px;
            color: #aaa;
            border-bottom: 1px solid #ddd;
        }

            #more a {
                color: #888;
            }

            #more a, #more span {
                padding: 1px 32px;
                margin: 12px 32px;
                background-color: #eee;
                /* moz radius border */
                -moz-border-radius: 6px;
                /* webkit radius border */
                -webkit-border-radius: 6px;
                border: 1px solid #eee;
            }

            #more a:hover {
                color: #fff;
                border: 1px solid #444;
                background-color: #444;
            }

    /*==== #wrapper#footer ====*/
    #footer {
        padding: 16px 0;
        margin: 0 32px;
        font-size: 12px;
        color: #888;
        border-top: 2px solid #ddd;
    }

        #footer a {
            color: #666;
        }

        #footer a:hover{
            color: #000;
            border-bottom: 1px dashed #aaa;
        }