---
layout: base
identity: post
---

        <div id="content">
            <div class="post">
                <h2 class="post_title"><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h2>
                <span class="post_date">{{ page.date | date_to_string }}, {{ page.time }}</span>
                <div class="post_body">
                    {{ content }}
                </div>
                <div class="post_meta">
                    <span>Topic: <a href="/archive/topic/{{ page.topic }}/">{{ page.topic }}</a></span>
                    <a class="comments" href="{{ page.url }}#disqus_thread">Responses &raquo;</a>
                </div>
            </div>

            <div id="more">
            {% if page.previous %}
                <a href="{{ page.previous.url }}" title="Previous post">&#x2190; prev</a>
            {% else %}
                <span>&#x2190; prev</span>
            {% endif %}

            {% if page.next %}
                <a href="{{ page.next.url }}" title="Next post">next &#x2192;</a>
            {% else %}
                <span>next &#x2192;</span>
            {% endif %}
            </div>

            <div id="disqus_thread"></div>
            <script type="text/javascript" src="http://disqus.com/forums/kaid/embed.js"></script>
            <noscript><a href="http://kaid.disqus.com/?url=ref">View the discussion thread.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
        </div>